<p-dialog [(visible)]="visible" [modal]="true" [draggable]="draggable" [header]="title" [style]="{ width: '25rem' }">
    <ng-container *ngIf="bodyTemplate">
        <div class="py-2">
            <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
        </div>
    </ng-container>
    <ng-template #footer>
        <ng-container *ngIf="footerTemplate; else defaultFooter">
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
        </ng-container>
        <ng-template #defaultFooter>
            <p-button [label]="cancelText" [text]="true" severity="secondary" (click)="onCancel()" />
            <p-button [label]="submitText" (click)="onSubmit()" />
        </ng-template>
    </ng-template>
</p-dialog>