<p class="mb-4">Recipients are designated contacts who will receive phone calls made through this system.</p>

<app-alert />

<p-confirmdialog />

<div class="mb-4">
    <p-toolbar>
        <ng-template #end>
            <p-button
                label="New Member"
                icon="pi pi-plus"
                class="mr-2"
                (onClick)="addRecipient()" />
            <p-button
                severity="danger"
                label="Delete Member(s)"
                icon="pi pi-trash"
                outlined
                (onClick)="confirmDelete()"
                [disabled]="!selectedMembers || !selectedMembers.length" />
        </ng-template>
    </p-toolbar>
</div>

<p-table
    #dt1
    [value]="teamMembers"
    sortField="dateCreated"
    [sortOrder]="-1"
    dataKey="id"
    [rows]="10"
    [loading]="isLoading"
    showLoader="false"
    [(selection)]="selectedMembers"
    [rowHover]="true"
    [paginator]="true"
    [globalFilterFields]="['name', 'phoneNumber']"
    stripedRows
    responsiveLayout="scroll">
    <ng-template #caption>
        <div class="flex flex-col items-center justify-between sm:flex-row">
            <p-iconfield iconPosition="left">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                    pInputText
                    type="text"
                    [(ngModel)]="searchQuery"
                    (input)="onGlobalFilter(dt1, $event)"
                    placeholder="Search keyword" />
            </p-iconfield>
            <p-button
                class="ml-2"
                type="button"
                icon="pi pi-refresh"
                severity="secondary"
                (click)="reset()"
                text />
            <button
                pButton
                label="Clear Filters"
                class="p-button-outlined ml-auto"
                icon="pi pi-filter-slash"
                (click)="clear(dt1)"></button>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th
                pSortableColumn="name"
                style="width: 20%">
                <div class="flex items-center gap-2">
                    Name
                    <p-sortIcon field="name" />
                </div>
            </th>
            <!-- <th style="min-width: 8rem">Verified</th> -->
            <th
                pSortableColumn="phoneNumber"
                style="min-width: 12rem">
                <div class="flex items-center gap-2">
                    Phone Number
                    <p-sortIcon field="phoneNumber" />
                </div>
            </th>
            <th
                pSortableColumn="dateUpdated"
                style="min-width: 10rem">
                <div class="flex items-center gap-2">
                    Date Updated
                    <p-sortIcon field="dateUpdated" />
                </div>
            </th>
            <th
                pSortableColumn="dateCreated"
                style="min-width: 10rem">
                <div class="flex items-center gap-2">
                    Date Created
                    <p-sortIcon field="dateCreated" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template
        #body
        let-teamMember>
        <tr>
            <!-- <td>
                    <span class="flex justfiy-end items-center">
                        <i class="pi" [ngClass]="{
                            'text-green-500 pi-check-circle': teamMember.verified,
                            'text-red-500 pi-times-circle': !teamMember.verified
                        }"></i>
                    </span>
                </td> -->
            <td (click)="$event.stopPropagation()">
                <p-tableCheckbox [value]="teamMember" />
            </td>
            <td
                (click)="editRecipient(teamMember)"
                class="cursor-pointer text-blue-500 underline hover:text-blue-700">
                {{ teamMember.name }}
            </td>
            <td>{{ teamMember.phoneNumber | phone }}</td>
            <td>{{ teamMember.dateUpdated | date: 'yyyy/MM/dd' }}</td>
            <td>{{ teamMember.dateCreated | date: 'yyyy/MM/dd' }}</td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No recipients found in your organization</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
        </tr>
        <tr>
            <td></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
        </tr>
        <tr>
            <td></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
        </tr>
    </ng-template>
</p-table>

<app-modal
    [closeOnSubmit]="false"
    size="small"
    (submit)="onSubmitRecipient()">
    <ng-template #body>
        <form
            [formGroup]="recipientForm"
            (ngSubmit)="onSubmitRecipient()">
            <p-fluid>
                <div class="mb-4">
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-id-card"></i>
                        </p-inputgroup-addon>
                        <p-floatlabel variant="on">
                            <input
                                pInputText
                                id="name"
                                formControlName="name"
                                autocomplete="off"
                                [ngClass]="{ 'ng-invalid ng-dirty': isFieldInvalid('name') }" />
                            <label for="name">Name</label>
                        </p-floatlabel>
                    </p-inputgroup>
                    @if (isFieldInvalid('name')) {
                        <p-message
                            severity="error"
                            size="small"
                            variant="simple"
                            >Name is required.</p-message
                        >
                    }
                </div>

                <p-floatlabel
                    variant="on"
                    styleClass="mb-4">
                    <p-inputmask
                        id="phone"
                        mask="(999) 999-9999"
                        formControlName="phoneNumber"
                        [ngClass]="{ 'ng-invalid ng-dirty': isFieldInvalid('phoneNumber') }"
                        [unmask]="false"
                        [autoClear]="false" />
                    <label for="phone">Phone Number</label>
                </p-floatlabel>
                @if (isFieldInvalid('phoneNumber')) {
                    <p-message
                        severity="error"
                        size="small"
                        variant="simple"
                        >Valid phone number is required.</p-message
                    >
                }
            </p-fluid>
        </form>
    </ng-template>
</app-modal>
