<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [draggable]="draggable"
    [header]="title"
    [style]="{ width: modalWidth }">
    @if (bodyTemplate) {
        <div class="py-2">
            <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
        </div>
    }

    <ng-template #footer>
        @if (footerTemplate) {
            <ng-container *ngTemplateOutlet="footerTemplate" />
        } @else {
            <p-button
                [label]="cancelText"
                [text]="true"
                severity="secondary"
                (click)="onCancel()" />
            <p-button
                [label]="submitText"
                (click)="onSubmit()" />
        }
    </ng-template>
</p-dialog>
