<div class="flex flex-auto flex-col">
    <div class="flex-auto rounded-t-3xl bg-surface-0 px-8 py-6 lg:px-20 lg:py-8 dark:bg-surface-900">
        <div class="flex w-full flex-col gap-2">
            <h2 class="mt-0 text-2xl font-medium leading-tight text-surface-900 dark:text-surface-0">Settings</h2>
            <p class="mt-0 leading-tight text-surface-500 dark:text-surface-300">Manage your settings</p>
        </div>
        <p-divider />
        <div class="grid grid-cols-12 gap-4 py-6 lg:py-8">
            <div class="col-span-12 lg:col-span-2">
                <ul class="m-0 hidden list-none flex-col justify-start p-0 lg:flex">
                    <li class="-ml-[2px] border-l-2 border-primary">
                        <a class="flex cursor-pointer items-center px-4 py-3 font-medium text-primary">
                            <i class="pi pi-user mr-2 !text-base !leading-normal"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="-ml-[2px] border-l-2 border-surface-200 transition-colors hover:border-primary hover:text-primary dark:border-surface-700">
                        <a class="flex cursor-pointer items-center px-4 py-3 font-medium text-surface-700 dark:text-surface-200">
                            <i class="pi pi-cog mr-2 !text-base !leading-normal"></i>
                            <span>Account</span>
                        </a>
                    </li>
                    <li class="-ml-[2px] border-l-2 border-surface-200 transition-colors hover:border-primary hover:text-primary dark:border-surface-700">
                        <a class="flex cursor-pointer items-center px-4 py-3 font-medium text-surface-700 dark:text-surface-200">
                            <i class="pi pi-palette mr-2 !text-base !leading-normal"></i>
                            <span>Appearance</span>
                        </a>
                    </li>
                </ul>

                <div class="lg:hidden">
                    <div class="overflow-x-auto border-b border-surface-200 dark:border-surface-700">
                        <ul class="m-0 flex list-none flex-row justify-start whitespace-nowrap p-0">
                            @for (item of items; track item.label) {
                                <li>
                                    <a class="flex cursor-pointer items-center font-medium">
                                        <i [ngClass]="[item.icon, 'mr-2', '!text-base', '!leading-normal']"></i>
                                        <span>{{ item.label }}</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-span-12 flex-auto rounded-2xl bg-surface-0 p-8 lg:col-span-10 xl:col-span-10 dark:bg-surface-900">
                <div class="flex flex-col gap-8">
                    <div class="text-lg font-semibold leading-tight text-surface-900 dark:text-surface-0">Profile</div>

                    <div class="flex flex-col-reverse gap-12 md:flex-row">
                        <div class="flex flex-auto flex-col gap-6">
                            <div class="flex flex-col gap-2">
                                <label
                                    for="name"
                                    class="text-surface-900 dark:text-surface-0"
                                    >Name</label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    id="name"
                                    type="text"
                                    class="w-full" />
                            </div>

                            <div class="flex flex-col gap-2">
                                <label
                                    for="bio"
                                    class="text-surface-900 dark:text-surface-0"
                                    >Bio</label
                                >
                                <textarea
                                    rows="5"
                                    cols="30"
                                    pTextarea></textarea>
                            </div>

                            <div class="flex flex-col gap-2">
                                <label
                                    for="website"
                                    class="text-surface-900 dark:text-surface-0"
                                    >URL</label
                                >
                                <p-input-group>
                                    <p-inputgroup-addon>www</p-inputgroup-addon>
                                    <input
                                        type="text"
                                        pInputText
                                        id="website"
                                        type="text"
                                        class="w-full" />
                                </p-input-group>
                            </div>

                            <div class="flex flex-col gap-2">
                                <label
                                    for="company"
                                    class="text-surface-900 dark:text-surface-0"
                                    >Company</label
                                >
                                <input
                                    type="text"
                                    pInputText
                                    id="company"
                                    type="text"
                                    class="w-full" />
                            </div>
                        </div>

                        <div class="flex flex-col gap-2">
                            <label class="text-surface-900 dark:text-surface-0">Avatar</label>
                            <div class="flex flex-col gap-4 lg:items-center">
                                <img
                                    src="https://fqjltiegiezfetthbags.supabase.co/storage/v1/object/public/block.images/blocks/formlayout/form-avatar.jpg"
                                    class="h-24 w-24 rounded-lg" />

                                <p-fileupload
                                    mode="basic"
                                    name="avatar"
                                    url="./upload.php"
                                    accept="image/*"
                                    custom-upload
                                    auto
                                    class="p-button-outlined p-button-secondary"
                                    :max-file-size="1000000"
                                    choose-label="Upload"
                                    choose-icon="pi pi-upload"
                                    :pt="{
                                                root: {
                                                    class: '!flex !justify-start lg:!justify-center'
                                                }
                                            }" />
                            </div>
                        </div>
                    </div>

                    <div>
                        <p-button label="Update Profile" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
